:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --beckground-color: rgba(255, 255, 255, 1);
  --text-color: rgba(117, 117, 117, 1);
  --hero-color: rgba(47, 48, 58, 1);
  --button-color: rgba(245, 244, 250, 1);
  --button-text-color: #fff;
  --button-header-color: rgba(33, 150, 243, 1);
  --logo-color: rgb(245, 238, 238);
  --adress-color: rgba(255, 255, 255, 0.6);
  --comand-background-color: rgba(245, 244, 250, 1);
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--beckground-color);
  letter-spacing: 0.03;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: auto;
  padding: 0;
}
ul {
  list-style: none;
}
.auth-nav {
  display: flex;
  margin-left: 331px;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .auth-nav1 {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .auth-nav1:hover,
.auth-nav .auth-nav1:focus {
  color: var(--accent-color);
}
.container {
  display: flex;
  align-items: center;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-portfolio {
  display: flex;
  align-items: center;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.button-portfolio {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 94px;
  justify-content: center;
}
.button-portfolio-title:not(:last-child) {
  margin-right: 8px;
}
.hero .button {
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--beckground-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--hero-color);
  color: var(--beckground-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.container-hero {
  padding: 200px 267px;
}
.logo-two {
  color: var(--accent-color);
}
.logo {
  color: var(--primary-text-color);
}
.logo-three {
  color: var(--logo-color);
}
.logo,
.logo-two,
.logo-three {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-header {
  margin-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
}
.command {
  background-color: var(--comand-background-color);
}
.command-title {
  display: flex;
  margin-top: 50px;
  margin-bottom: 94px;
}
.command-title .participant:not(:last-child) {
  margin-right: 30px;
}

.work {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}
.work-images {
  display: flex;
  margin-top: 50px;
  margin-bottom: 94px;
}
.work-images .images:not(:last-child) {
  margin-right: 30px;
}

.work-one {
  color: var(--primary-text-color);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.work-two {
  line-height: 24px;
}
.work-three {
  color: var(--text-color);
  background-color: var(--button-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-top: 94px;
}
.title-one {
  color: var(--primary-text-color);
  background-color: var(--button-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.adres {
  padding-bottom: 60px;
}
.adres-one {
  color: var(--beckground-color);
  text-decoration: none;
  line-height: 1.7x;
  letter-spacing: 0.03em;
}
.adres-two {
  color: var(--adress-color);
  text-decoration: none;
  line-height: 1.7x;
  letter-spacing: 0.03em;
}
.adres .adres-one:hover,
.adres .adres-one:focus,
.adres .adres-two:hover,
.adres .adres-two:focus {
  color: var(--accent-color);
}

footer {
  background-color: var(--hero-color);
}

.title-portfolio {
  display: none;
}

.button-filter {
  color: var(--primary-text-color);
  background-color: var(--button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  padding: 6px 22px;
  border-color: transparent;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--button-text-color);
  background-color: var(--button-header-color);
}

.filter {
  box-sizing: border-box;
  width: 1200px;

  display: flex;
  flex-wrap: wrap;
}
.filter-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.filter-element:nth-child(3n) {
  margin-right: 0;
}
.filter-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.title-filter {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.filter a {
  text-decoration: none;
}
.filter p {
  color: var(--text-color);
}
.footer {
  display: flex;
  flex-direction: column;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.adres .real {
  margin-bottom: 9px;
}
.adres .mail {
  margin-bottom: 9px;
}
.real a {
  color: var(--button-text-color);
}

.section-filter {
  align-items: center;
  width: 1230px;

  margin: 0 auto;
  padding: 0 15px;
}
